/* body */
body{
    background-color: #e9dddd;
    margin: 0;
}

p{
    font-size: 14px;
}

/* création de la barre de progresssion */
#progress{
    background-color: #006128;
    height: 3px;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

/* header*/


/* Titre */
header > div:nth-child(1){
    width: 50%;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

/* Nav */
ul{
    margin: 20px;
}

.btn-secondary {
    color: #fff;
    background-color: #612800;
    border-color: #280061;
    text-transform: uppercase;
}

.tome{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tome > div{
    margin: 10px;
}/* Fin header */

/* video page accueil */
iframe{
    display: flex;
    justify-content: center;
    margin: auto;
}

/* Vidéo page romans*/
.video{
    text-align: center;
    margin-top: 20px; 
}

/* début page index */
aside{
    flex: 1;
    position: relative;
    background-color: #612800;
    box-shadow: 0px 2px 5px #000000;
    border-radius: 5px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    color: white;
    font-size: 0.9em;
    display: flex;
}

aside > div img{
    position: relative;
    width: 100%;
    margin-left: 20px;
}

aside > div{
    margin: 20px;
}

aside > div p, h1{
    text-align: center;
}
/* Fin page index */ 

/* Début page romans */
/* main */
section {
    display: flex;
    justify-content: center;
    border: 2px solid #612800;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 6px 6px 6px black;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

/* marge des romans */
main>section div:nth-child(1) {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* marge des articles */
article {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
    
}

h1,
p,
article>div {
    text-align: center;
    margin-bottom: 20px;
}

h1{
    text-decoration: underline;
}

/* image edilivre et fnac */
article>div>a img {
    margin-bottom: 25px;
    margin-top: 20px;
}

/* icone amazon */
section>article>div i {
    font-size: 3em;
    margin-left: 60px;
    margin-right: 60px;
    color: black;
}

h2{
    text-align: center;
}
/* Fin page Romans */


/* footer */
footer > div{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

footer > div p{
    margin-top: 20px;
}

footer > div i{
    font-size: 3.5em;
    margin-left: 20px;
}

footer > div a:nth-child(1){
    color: #046ee5
}

footer > div a:nth-child(2){
    color: #1da1f2;
}

footer > div a:nth-child(3){
    color: #934bc8;
}

footer > div a:nth-child(4){
    color: #ff0000;
}

